.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  // background: var(--primary-color);
  border: rgba(255, 255, 255, 0.18);
  // position: fixed;
  z-index: 5;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  img {
    width: 120px;
    height: 120px;
    filter: brightness(1);
    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
      filter: brightness(1);
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 1.5rem 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 50px;
      height: 1px;
      background: var(--color-gray);
    }

    a {
      color: var(--white-color);
      text-decoration: none;
      flex-direction: column;
      font-size: medium;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;

      transition: all 0.3s ease-in-out;

      // &:hover {
      //   color: var(--secondary-color);
      // }
    }

    &:hover {
      div {
        background: var(--white-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    padding: 7px 15px !important;
    border: 1px solid white !important;
    background-color: var(--white-color) !important;
    border-radius: 20px;
    color: black;
    font-size: medium !important;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      padding: 7px 15px !important;
      border: 1px solid black !important;
      background-color: black !important;
      border-radius: 20px;
      color: var(--white-color);
      font-size: medium !important;
      font-weight: 600;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0.5rem 1rem;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    // background: url('../../assets/bgWhite.png');
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);

      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }

    li {
      margin: 1rem;

      a {
        color: var(--gray-color);
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}
